@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;

.swiper {
  &-slide {
    width : 100%;
    height: auto;
    text-align: center;
    font-size : 18px;
    background: #fff;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    p {
      margin: auto;
    }
    .img {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
}
.swiper {
  &-button {
    &-prev, &-next {
      &::before {
        position: relative;
        font-family: FontAwesome;
        background: rgba(255,255,255,0.3);
        padding: 8px 12px;
        opacity: 0;
        @include m.mq (screen012) {
          opacity: 1;
        } 
      }
    }
    &-prev::before {
      content: "\f104";
    }
    &-next::before {
      content: "\f105";
    }
  }
}

.card {
  &-body {
    height: 10rem; 
  }
  &-inner {
    margin: 1rem 0.5rem;
    background-color: rgba($color: #ffffff, $alpha: 0.5);
  }
  &-title {
    
  }
  &-text {
    height: 7rem;
    width: 5rem;
    
  }
}





