@use "../Foundation/mixin" as m;
@use "../Foundation/variable" as v;

.l-aside {
  &--left {
    opacity: 1;
    @include m.mq (screen03) {
      opacity: 0;
      position: fixed;
      z-index: 300;
      width: 20vw;
      left: 5%;
    }
  }
  &--right {
    @include m.mq (screen03) {
      opacity: 0;
      position: fixed;
      z-index: 300;
      top: 50%;
      left: 75%;
    }
  }
}
/*1.フェードインアニメーションの指定*/
.fadeInDown {
    animation-name: fadeInDown;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}
@keyframes fadeInDown {
    0% {
        opacity: 0;         
    }
    100% {
    opacity: 1;
    transform: translate(0);
    }
}