@use "../Foundation/mixin" as m;
@use "../Foundation/variable" as v;

.l-main {
  position: absolute;
  z-index: 500;
  transform: translateX(-25%);
  height: 2900px;
  width: 100vw;
  overflow-y: scroll;
  top: 0;
  left: 25%;
  &--custom-post {
    margin-top: -32px;
    width: 100vw;
  }
  &--post {
    width: 100vw;
    padding: 1rem 5%;
  }
  &--products {
    padding: 1rem 5%;
    @include m.mq(screen012) {
      width: 67.5vw;
      padding: 1rem 0;
      margin:1rem 2.5vw 1rem 0;
    }  
  }
  &--404 {
    width: 100%;
  }

  @include m.mq (screen012) {
    transform: translateX(0);
    width: 400px;
    left: calc((100vw - 400px) * 0.5);
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

/*

100vw = 820px = 400px + (210px * 2)
100vw = 1000px = 400px + (300px * 2)
100vw = 1200px = 400px + (400px * 2)

*/
