@use "../Foundation/mixin" as m;
@use "../Foundation/variable" as v;

.l-wrapper{
  display: flex;
  flex-direction: column;
  @include m.mq(screen03) {
    flex-direction: row;
    padding: 5% 10%;
  }
}