@use "../../Foundation/variable" as v;
@use "../../Foundation/mixin" as m;

.p-card {
  flex-direction: column;
  font-size: 1rem;
  margin-top: 1.5rem;
  @include m.mq (screen02) {
    flex-direction: row;
  }
  img {
    height: 100%;
    @include m.mq (screen02) {
      width: 50%;
    }
  }
  .c-card {
    &__contents-area {
      display: block;
      padding: 1rem;
      @include m.mq (screen02) {
        width: 50%;
      }
      @include m.mq (screen03) {
        padding: 2.3rem 2.3rem 0 2.3rem;
        aspect-ratio: 4 / 3;
        height: 58%;
      }
    }
    &__title {
      padding-top: 1.5rem;
      padding-bottom: 1rem;
      font-size: 1.5rem;
      @include m.mq (screen02) {
        padding-top: 0;
        padding-bottom: 0.5rem;
      }
      @include m.mq (screen03) {
        padding-top: 0;
        padding-bottom: 4.5%;
      }
    }
    &__sub-title {
      padding-top: 1rem;
      padding-bottom: 1rem;
      font-size: 1.1rem;
      @include m.mq (screen02) {
        font-size: 0.9rem;
        padding-bottom: 4.5%;
      }
    }
    &__text {
      padding-right: 3rem;
      font-size: 0.9rem;
      @include m.mq (screen02) {
        font-size: 0.7rem;
        padding-right: 2rem;
        line-height: 1.3rem;
      }
    }
    &__btn-area {
      text-align: center;
      & .c-card__btn {
        padding: 1rem 3rem;
        font-size: 1.2rem;
        margin: 13% auto;
        background-color: greenyellow;
        @include m.mq (screen02) {
          font-size: 1rem;
          padding: 0.5rem 3rem;
          margin: 11% auto 5% auto;
        }
        @include m.mq (screen03) {
          font-size: 0.8rem;
          margin: 11% auto 0 auto;
          padding: 0.8rem 3.7rem;
          height: 42%;
        }
      }
    }
  }
}