@use "../../Foundation/variable" as v;
@use "../../Foundation/mixin" as m;

.p-card {
  flex-direction: column;
  font-size: 1rem;
  margin: 0;
  padding: 3rem 0;
  gap: 2rem;
  &:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
  }
  @include m.mq (screen011) {
    flex-direction: row;
  }
  .img {
    flex-basis: 25%;
    aspect-ratio: 3 / 2;
    display: flex;
    img {
      height: 100%;
      width: 100%;
      @include m.mq (screen011) {
      }
    }
  }
  .c-card {
    &__contents-area {
      display: block;
      flex-basis: 75%;
      @include m.mq (screen02) {
        width: 50%;
      }
      @include m.mq (screen03) {
        height: 58%;
      }
    }
    &__title {
      font-size: 1.5rem;
      @include m.mq (screen02) {
        padding-top: 0;
      }
      @include m.mq (screen03) {
        padding-top: 0;
      }
    }
    &__text {
      padding-right: 3rem;
      font-size: 0.9rem;
      @include m.mq (screen02) {
        font-size: 0.7rem;
        padding-right: 2rem;
        line-height: 1.3rem;
      }
    }
    &__btn-area {
      text-align: center;
      & .c-card__btn {
        padding: 1rem 3rem;
        font-size: 1.2rem;
        @include m.mq (screen02) {
          font-size: 1rem;
          padding: 0.5rem 3rem;
          margin: 11% auto 5% auto;
        }
        @include m.mq (screen03) {
          font-size: 0.8rem;
          margin: 11% auto 0 auto;
          padding: 0.8rem 3.7rem;
          height: 42%;
        }
      }
    }
  }
}