@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;

.p-contact {
    margin-top: 10rem;
    text-align: center;
  &__form {
    margin-top: 5rem;
    .title {
      padding-top: 2rem;
      font-weight: bold;
      font-family: v.$Widget;
      font-size: 1.5rem;
      color: v.$TextWhite;
      filter: drop-shadow(0px 10px 15px rgba(42, 117, 180));
    }
  }
}