$white: #fff;
$blue: #1e90ff;
$green: #39d24a;

.p-concept {
  p {
    writing-mode: vertical-rl;
    text-orientation: upright;
  }

  &__title {

    &--page,
    &--flip {
      position: absolute;
      z-index: 1;
      left: 60%;
      top: 30%;
    }
  }

  &__text {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
  }

  &__bg {
    position: absolute;
    display: block;
    content: "";
    background-position: center;
    height: 100%;
    width: 100%;

    &.bg-0 {
      margin-left: -100%;
      rotate: 7.5deg;
      height: 320%;
      width: 400%;
      background-size: 150%;
      background-position: center;
      background: linear-gradient(180deg, rgba(0, 0, 0, 1)3%, rgb(0, 57, 149) 20%, rgb(10, 72, 173) 40%, rgb(0, 212, 255) 60%), $white;
      animation: bggradient-0 35s ease-in-out infinite;
    }

    &.bg-1 {
      background: radial-gradient(circle at top, $white, transparent 5%), linear-gradient(345deg, rgba(10, 45, 117, 1) 0%, rgba(10, 73, 157, 1) 30%, rgba(0, 212, 255, 0.8982186624649859) 70%, rgba(0, 255, 117, 0.8001794467787114) 95%);
      width: 100%;
      background-size: 400% 400%;
      animation: bggradient-1 35s ease-in-out infinite;
    }

    &.bg-2 {
      background: linear-gradient(190deg, rgb(10, 45, 117) 5%, rgba(12, 80, 198, 0.95) 45%, rgba(12, 80, 198, 0.898) 100%);
    }

    &.bg-3 {
      background: linear-gradient(155deg, rgb(10 33 173 / 79%) 0%, rgb(21 178 188 / 83%) 50%, rgb(39 255 181 / 32%) 95%);

      &-before {
        position: absolute;
        display: block;
        right: -100vh;
        bottom: -100vh;
        content: "";
        width: 200vh;
        height: 200vh;
        opacity: 1;
        border-radius: 50%;
        background: radial-gradient(rgba(255, 255, 255, 0.1) 0%, $white 80%);
        z-index: 1;
        filter: blur(150px);
        scale: 0;
        // animation: Scale 10s ease-in;
      }
    }
  }
}

canvas {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  filter: blur(15px);
}

@keyframes Scale {
  from {
    scale: 0;
    opacity: 0;
  }

  20% {
    opacity: 0.8;
  }

  80% {
    opacity: 1;
  }

  to {
    scale: 2.5;
  }
}

@keyframes bggradient-0 {
  0% {
    rotate: 7.5deg;
    transform: translateY(-20%);
  }

  25% {
    rotate: -7.5deg;
  }

  50% {
    rotate: 7.5deg;
    background-position: bottom;
    transform: translateY(-17.5%);
  }

  75% {
    rotate: -7.5deg;
  }

  100% {
    rotate: 7.5deg;
    transform: translateY(-20%);
  }
}

@keyframes bggradient-1 {

  0%,
  100% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}

@keyframes bggradient-2 {
  0% {}

  50% {
    background-position: bottom;
    rotate: 40deg;
    top: -40%;
    left: -40%;
    height: 200%;
    width: 200%;
  }

  100% {}
}

@keyframes bggradient-3 {
  0% {}

  50% {
    background-position: bottom;
    rotate: 40deg;
    top: -40%;
    left: -40%;
    height: 200%;
    width: 200%;
  }

  100% {}
}