@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;

.p-gmenu {

  //もくじ
  &--table {
    font-size: 2.5rem;
    font-weight: v.$Medium;
    text-align: center;
    width: 15rem;
    margin:  10rem 0 0 -2rem;
    @include m.mq (screen012) {
      margin-left: 5rem;
    }
    @include m.mq (screen03) {
      display: none;
    }

    //もくじボタン
    .p-gmenu__button {
      display: flex;
      flex-direction: row;

      //開閉マーク
      &::before {
        content: "＋";
        order: 3;
        @include m.mq(screen02) {
          left: 20rem;
        }
        @include m.mq(screen03) {
            content: "";
            position: absolute;
            right: 20px;
           //ボタン展開時
          &.active::before {
            content: "";
          }
        }
      }
      &::after {
        content: "";
        width: 1rem;
        order: 2;
      }
      //目次ボタン展開時
      &.active {
          &::before {
            content: "－";
          @include m.mq(screen03) {
            &::before {
              content: "";
              position: absolute;
              right: 20px;
            }
            &.active::before {
              content: "";
            }
          } 
        }
      }
    }
  }

  //メニュー項目pc画面
  &__list {
    display: flex;
    @include m.mq (screen03) {
      margin: unset;
      padding: 1rem 1rem 0 0;
      text-align: center;
      margin-top: 1.6rem;
    } 
    .title {
      z-index: 1000;
    }
    .item {
      font-size: 1.6rem;
      width: 50%;
      text-align: center;
      position: relative;
      &:first-of-type::before {
        border-right: solid 2px;
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 80%;
        top: 30%;
        @include m.mq (screen03) {
          display: none;
        }
      }
      @include m.mq (screen03) {
        width: 10rem;
        text-align: unset;
      }
      .sub-menu {
        height: 0;
        opacity: 0;
        transition: all 0.3s ease;
        margin-top: 1.14rem;
        .item {
          padding: 1rem 0 1rem 0;
        }
      }
      &:hover {
        .sub-menu {
          height: 8rem;
          opacity: 1;
          transition: all 0.3s ease;
          background-color: rgba($color: #fff, $alpha: 0.6);
        }
      }
    }

    //目次の内のメニュー項目
    &.in-table {
      z-index: 1200;
      overflow: hidden;
      transition: all 0.3s ease-in;
      height: 0;
      display: flex;
      flex-direction: column;
      &.active {
        height: 25rem;
        padding: 3rem 0 2rem 0;
      }
      .item {
        font-size: 1.4rem;
        text-align: left;
        width: unset;
        line-height: 3;
        .title {
          font-size: 1.2rem;
          color: v.$TextBlack;
          line-height: 4rem;
          a {
            &:hover {
              text-decoration: none;
            }
          }
          &::before {
            content: '\f111';
            font-family: 'Font Awesome 6 Free';
            font-weight: 900;
          }
        }
      }
    }

    //子メニューがあるメニュー項目
    .item3 {

      //開閉マーク
      &::before {
        content: "＋";
        position: absolute;
        left: 25vw;
      }
      &.active::before {
        content: "－";
      }
      @include m.mq(screen03) {
        &::before {
          content: "";
          position: absolute;
          right: 20px;
        }
        &.active::before {
          content: "";
        }
      } 
    }
  }

  //pc画面ではメニューに表示させないメニューアイテム
  .item1, .item6, .item7 {
    @include m.mq (screen03) {
      display: none;
    }
  }
}