@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;

.p-modal-window {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #dfdddd;
  border-radius: 5px;
  z-index: 1000;
  padding: 2rem;
  height: 100vh;
  overflow: scroll;
  display: none;
  &--small {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #dfdddd;
    border-radius: 5px;
    z-index: 1000;
    padding: 2rem;
    display: none;
  }
  &__button-open {
    margin: 0 auto;
    display: block;
    cursor: pointer;
  }
    &__button-close {
    margin: 2rem 2rem 1rem 2rem;
    width: 200px;
    padding: 1em;
    background-color: #c96931;
    color: #eaeaea;
    border-radius: 20rem;
    cursor: pointer;
  }
}