@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;

.p-posts {
  margin-top: 10rem;
  color: #fff;
  &.c-background--widget {
    background-color: unset;
    box-shadow: unset;
  }
  .c-title--section {
    font-size: 2rem;
    font-family: v.$Widget;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      width: 5rem;
      top: 3.8rem;
      left: 40%;
      border-bottom: 3px solid;
    }
  }
  &__inner {
    padding-top: 0.5rem;
    li {
      display: flex;
      flex-direction: column;
      padding: 0.25rem 1rem 0.50rem 1rem;
      .post-title {
        flex-basis: 70%;
        font-size: 1.2rem;
        font-weight: 500;;
      }
      .post-right {
        flex-basis: 30%;
        font-weight: 500;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        .date {
          font-family: v.$Table;
          font-size: 0.8rem;
        }
        .new {
          padding-left: 0.5rem;
          font-size: 1rem;
        }
      } 
    }
  } 
  // &__inner {
  //   padding-top: 0.5rem;
  //   font-weight: bold;
  //   &>ul {
  //     li {
  //       padding: 0.25rem 1rem 0.25rem 1rem;
  //       &:first-of-type {
  //         padding-top: unset;
  //       }
  //     }
  //   }
  // } 
}